@import "../../responsive.scss";

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .navbar {
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @include lg {
      max-width: 1280px;
    }

    @include md {
      max-width: 768px;
    }

    @include sm {
      max-width: 640px;
    }
  }

  .content {
    flex: 1;
    max-width: 1366px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

    @include lg {
      max-width: 1280px;
    }

    @include md {
      max-width: 768px;
    }

    @include sm {
      max-width: 640px;
    }
  }
}
